@font-face {
    src: url(../fonts/arial.ttf);
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: ISO-8859-1;
}
    
@page {
    size: 210mm 297mm;
}

#header {
    font: bold serif;
    position: absolute; top: 0; left: 0;
    -fs-move-to-flow: "header";
} 
    
#footer {
    font-size: 90%; font-style: italic;
    position: absolute; top: 0; left: 0;
    -fs-move-to-flow: "footer";
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}
    
body {
    background-color: #ffffff;
    font-family: "Arial Unicode MS", Arial, sans-serif;
    background-color: white;
    padding: 0 0 0 0;
    margin-top: 0;
}


.content {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    background-color: white;
    font-size: 1em;
    padding: 0 0 0 0;
    margin-top: 0;
}

.title {
    font-size: 1.3em;
    font-weight:bold;
    text-align:center;
    text-transform: uppercase
}

