/* FONT STACK */
body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}


html {
	background-color: #f1f5f8;
	background-image: -moz-linear-gradient(center top, #97b2c7, #f1f5f8);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #97b2c7), color-stop(1, #f1f5f8));
	background-image: linear-gradient(top, #97b2c7, #f1f5f8);
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}


html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

@font-face {
	font-family: 'digi';
	src: url('./fonts/DS-DIGII.TTF');
}


#appLogo {
	background-color: #f1f5f8;
}

#appLogo a {
	background: url(../images/poll_48.png) no-repeat transparent 0 50%;
	font-size: 2em;
	text-decoration: none;
	padding: 10px 0px 10px 50px;
	
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

.pageContent {
	min-height: 800px;
}

.footer {
	background: #f1f5f8;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

select, textarea, text, input {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 1px 2px 1px 2px;
}

input:required {   
	border: 1px solid rgba(253, 8, 8, 0.29); 
}

input:focus:invalid {   
	background: url('../images/fatcow_16/cancel.png') no-repeat right;   padding-right: 7px;
} 

input:focus:valid {   
	background: url('../images/fatcow_16/accept.png') no-repeat right;   padding-right: 7px;
}

.button_base {
    display:table;
    position:relative;
    margin: 0;
    border: 0;
    font-size: 1.2em;
    padding: 1px 1px 1px 1px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: pointer;
    cursor: hand;
    vertical-align: middle;
    text-decoration: none;
    background-color: #f1f5f8;
    /*button_simple_rollover*/
    display: table;  margin: auto;
    color: #769ab5;
    border: #769ab5 solid 1px;
    border-radius: 4px;
}

.button_base .buttonImage {
    display:table-cell;
    vertical-align:middle;
    margin:5px 0px 5px 5px;
}

.button_base .buttonText {
    display:table-cell;
    vertical-align:middle;
    padding:0px 10px 0px 5px;
}

.button_base:hover {
    color: #0066cc;
    background-color: #dae7f1;
    border-radius: 5px;
}

.button_base:active {
    border-top-color: #1b435e;
    background: #1b435e;
    color:white;
    border-radius: 5px;
}

.clearing{clear:both;}

.controller {
	font-size: 0.8em;
	line-height: 1.5em;
}

hr {
	border: 1px solid #cccccc;
}

.errorMsgWrapper {
	width: 90%;
	font-weight:bold;
	margin: 10px auto 10px auto;
	color:#cc1606;
	border: 1pt solid #cc1606;
	padding: 10px;
}

.errorMsgWrapper p {
	text-align: center;
} 

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkBox label {
	display: inline-block;
	position: relative;
	font-size: 1em;
	padding: 15px 10px 15px 25px;
	vertical-align: top;
	cursor: pointer;
}

.checkBox label span {
	vertical-align: middle;
	display: inline-block;
}

.checkBox input[type="checkbox"],
.checkBox label::before,
.checkBox input[type="checkbox"]:checked + label::after {
	width: 18px;
	height: 18px;
	top: 15px;
	left: 0px;
	position: absolute;
	cursor: pointer;
}

.checkBox input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.checkBox label::before {
	content: '';
	border: 2px solid rgba(0,0,0,0.3);
}

.checkBox input[type="checkbox"]:checked + label::after {
	content: '\2713';
	text-align: center;
	line-height: 19px;
	color: #6bad74;
}


fieldset {
    border: #f2f2f2 solid 1px;
}

fieldset legend {
    font-size: 1.2em;
    font-weight: bold;
}

#userBaseData label {
    width:270px;
    display:inline-block;
}

.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
}

.messageFromServiceBox {
    padding: 20px;
    margin: 0px 20px 0px 20px;
    font-size: 1.4em;
    color: #848d80;
    border: 1pt solid #848d80;
}