@font-face {
      src: url(../fonts/arial.ttf);
      -fs-pdf-font-embed: embed;
      -fs-pdf-font-encoding: cp1250;
    }
    
    @page {
      size: 210mm 297mm;
    }
    

#header {
font: bold serif;
position: absolute; top: 0; left: 0; 
-fs-move-to-flow: "header";
} 
    
#footer {
font-size: 90%; font-style: italic; 
position: absolute; top: 0; left: 0;
-fs-move-to-flow: "footer";
}

#pagenumber:before {
content: counter(page); 
}

#pagecount:before {
content: counter(pages);  
}
    
body
{
    BACKGROUND-COLOR: #ffffff;
    font-family: "Arial Unicode MS", Arial, sans-serif;
    background-color: white;
    FONT-SIZE: 29pt;
    padding: 0 0 0 0;
    margin-top: 0;
}


.cuerpo{
    font-family: "Arial Unicode MS", Arial, sans-serif;
    background-color: white;
    FONT-SIZE: 10pt;
    padding: 0 0 0 0;
    margin-top: 0;
}
.titulo
{
  FONT-SIZE: 12pt;
  font-weight:bold;
  text-align:center;
  TEXT-TRANSFORM: uppercase
}

