/bin
/GrailsRestDocPlugin-0.4
GrailsRestDocPlugin-0.4.zip
.gradle
.settings
.project
.idea
/libs
/build/
/SistemaVotacionAndroid/build/
/VotingToolAndroidProject/libraries/bc/build/
/VotingToolAndroidProject/libraries/votingsystemimpl/build/