<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.votingsystem.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Si no se pone un target SDK post 3.0 sale el 'menu botón', API Level: 8 -> Froyo -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
    <application android:icon="@drawable/mail_mark_unread_32" android:label="@string/app_name">

     	<!-- <activity android:label="@string/app_name" android:noHistory="true"
            android:name=".MainActivity" android:screenOrientation="portrait">-->
 
 
     	<activity android:label="@string/app_name" android:noHistory="true"
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

           	<intent-filter>    
		       	<data android:scheme="http" android:host="192.168.1.4"/>
	       	    <data android:path="/ControlCenter/app/androidClient"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
		    <intent-filter>    
		       	<data android:scheme="http" android:host="192.168.1.4"/>
	       	    <data android:path="/AccessControl/app/androidClient"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
       		<intent-filter>    
		       	<data android:scheme="http" android:host="sistemavotacion.org"/>
	       	    <data android:path="/app/androidClient"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
		    <intent-filter>    
		       	<data android:scheme="http" android:host="sistemavotacion.org"/>
	       	    <data android:path="/app/androidClient"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
     	</activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".app.Search" />

        <activity
            android:name=".activity.NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity android:name=".activity.FragmentContainerActivity"
            android:noHistory="true" android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.CertRequestActivity" android:noHistory="true"
            android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light"/>
        
        <activity android:name=".activity.UserCertResponseActivity" android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.EventVSStatisticsPagerActivity"
            android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.NewRepresentativeActivity" android:icon="@drawable/system_users_22"
            android:label="@string/new_representative_title" android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:label="@string/app_name" android:name=".activity.EventVSPagerActivity"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.RepresentativePagerActivity"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.ReceiptPagerActivity"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".activity.MessageActivity"
            android:theme="@style/Theme.Transparent"/>


        <!-- This provider declaration informs the Search Manager that you have a provider of -->
        <!-- Search suggestions, and provides information about how to access it. -->
        
        <provider android:name="org.votingsystem.util.SearchSuggestionProvider"
                  android:authorities="org.votingsystem.util.SuggestionProvider" />

        <!-- The attribute "android:exported" must be set to "false" to restrict this content
            provider to its own app. Otherwise, all apps could access it. -->
        <provider android:name=".contentprovider.UserContentProvider"
            android:exported="false" android:authorities="votingsystem.org.representative"/>

        <provider android:name=".contentprovider.EventVSContentProvider"
            android:exported="false" android:authorities="votingsystem.org.eventvs"/>

        <provider android:name=".contentprovider.ReceiptContentProvider"
            android:exported="false" android:authorities="votingsystem.org.receipt"/>

        <!-- No intent filters are specified, so android:exported defaults to "false". The
            service is only available to this app. -->
        <service android:name=".service.SignAndSendService" android:exported="false"/>
        <service android:name=".service.RssService" android:process=":rss_service"/>
        <service android:name=".service.RepresentativeService"  android:exported="false"/>
        <service android:name=".service.UserCertRequestService"  android:exported="false"/>
        <service android:name=".service.EventVSService"  android:exported="false"/>
        <service android:name=".service.VotingAppService"  android:exported="false"/>
        <service android:name=".service.VoteService"  android:exported="false"/>


    </application>
</manifest>