<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.votingsystem.android" android:versionCode="1" android:versionName="1.0" >

   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application android:name=".AppContextVS" android:allowBackup="true"
        android:icon="@drawable/mail_mark_unread_48" android:label="@string/app_name">

     	<!-- <activity android:label="@string/app_name" android:noHistory="true"
            android:name=".MainActivity" android:screenOrientation="portrait">-->

        <meta-data android:name="android.app.default_searchable" android:value=".app.Search" />

        <activity android:name=".activity.BrowserVSActivity"
            android:label="@string/browswevs_lbl" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.CashRequestFormActivity" android:noHistory="true"
            android:label="@string/cash_request_dialog_caption" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.CertRequestActivity" android:noHistory="true"
            android:label="@string/app_name" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.CertResponseActivity" android:noHistory="true"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.ConfirmImageActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.EventVSStatsPagerActivity"
            android:label="@string/app_name" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.EventVSMainActivity"
            android:label="@string/app_name" android:theme="@style/ThemeVS">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".activity.ContactsActivity"
            android:label="@string/contacts_lbl" android:theme="@style/ThemeVS">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".activity.ContactPagerActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.EventVSNewActivity"
            android:label="@string/publish_poll_lbl" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.EventVSPagerActivity" android:label="@string/app_name"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.EventVSSearchResultActivity"
            android:label="@string/search_result"
            android:theme="@style/ThemeVS">
        </activity>

        <activity android:name=".activity.CooinAccountsMainActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.WalletActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.FragmentContainerActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.IntentFilterActivity" android:theme="@style/ThemeVS"
            android:label="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="http" android:host="sistemavotacion.org"/>
                <data android:path="/AccessControl/app/androidClient"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="http" android:host="cooins"/>
                <data android:path="/Cooins/app/androidClient"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="http" android:host="sistemavotacion.org"/>
                <data android:path="/Cooins/app/androidClient"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MessageActivity" android:theme="@style/Theme.Transparent"/>

        <activity android:name=".activity.QRCodesActivity" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.RepresentativeDelegationActivity"
            android:label="@string/representative_delegation_lbl" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.RepresentativeNewActivity"
            android:label="@string/new_representative_title" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.RepresentativesMainActivity" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.RepresentativePagerActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.ReceiptsMainActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.ReceiptPagerActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.SettingsActivity"
            android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.SMIMESignerActivity" android:theme="@style/ThemeVS"/>

        <activity android:name=".activity.TransactionVSPagerActivity"
            android:theme="@style/ThemeVS"/>


        <!-- This provider declaration informs the Search Manager that you have a provider of -->
        <!-- Search suggestions, and provides information about how to access it. -->
        <provider android:name="org.votingsystem.util.SearchSuggestionProvider"
                  android:authorities="org.votingsystem.util.SuggestionProvider" />

        <!-- The attribute "android:exported" must be set to "false" to restrict this content
            provider to its own app. Otherwise, all apps could access it. -->
        <provider android:name=".contentprovider.UserContentProvider"
            android:exported="false" android:authorities="votingsystem.org.uservs"/>

        <provider android:name=".contentprovider.EventVSContentProvider"
            android:exported="false" android:authorities="votingsystem.org.eventvs"/>

        <provider android:name=".contentprovider.ReceiptContentProvider"
            android:exported="false" android:authorities="votingsystem.org.receipt"/>

        <provider android:name=".contentprovider.TransactionVSContentProvider"
            android:exported="false" android:authorities="votingsystem.org.transactionVS"/>

        <!-- No intent filters are specified, so android:exported defaults to "false". The
            service are only available to this app. -->
        <service android:name=".service.BootStrapService"  android:exported="false"/>
        <service android:name=".service.EventVSService"  android:exported="false"/>
        <service android:name=".service.RepresentativeService"  android:exported="false"/>
        <service android:name=".service.RssService" android:process=":rss_service"/>
        <service android:name=".service.TransactionVSService"  android:exported="false"/>
        <service android:name=".service.UserCertRequestService"  android:exported="false"/>
        <service android:name=".service.VoteService"  android:exported="false"/>
        <service android:name=".service.VotingAppService"  android:exported="false"/>
        <service android:name=".service.WebSocketService"  android:exported="false"/>

    </application>
</manifest>