/web-app/android
/web-app/ckeditor
/web-app/tools
/web-app/polymer

/web-app/designer
/web-app/topeka
/web-app/polymer-tutorial


/build
/logs
/target
/target-eclipse
/VotingSystem
.CooinReports
wrapper
.VotingSystem
.idea
*.iml
