.glassBox {
    -fx-background-insets: 3;
    -fx-effect: dropshadow(three-pass-box, #888, 5, 0, 0, 0);
    -fx-background-radius: 4;
    -fx-padding: 3, 3;
}

.password-dialog {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-color: #6c0404;
    -fx-border-width: 3;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-color: #f9f9f9;
    -fx-background-color: #f9f9f9;
    -fx-max-height:280px;
    -fx-max-width:350px;
}