.browser-toolbar {
    -fx-padding:2 2;
}

.tab {
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-min-width: 200px;
}

.tab-pane {
    -fx-padding:2;
}

.tab-header-area {
    -fx-padding: 0 0 0 2;
}

.toolbar-button {
    -fx-font-size: 19;
}

.location-text {
    -fx-font-size: 15px;
    -fx-pref-width: 450px;
    -fx-padding: 7, 7;
}

.main-dialog {
    -fx-pref-width: 1200px;
    -fx-pref-height: 1000px;
}
