.tab {
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-min-width: 200;
}

.tab-header-area {
    -fx-padding: 0 0 0 2;
}

.toolbar-button {
    -fx-font-size: 20;
}

.close-button{
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;
}

.main-dialog {
    -fx-border-color: #6c0404;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
}
