.glassBox {
    -fx-background-insets: 5;
    -fx-effect: dropshadow(three-pass-box, #6c0404, 5, 0, 0, 0);
    -fx-background-radius: 4;
    -fx-padding: 5, 5;
}

.main-dialog {
    -fx-border-color: #6c0404;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 2 2 3 2;
    -fx-pref-width: 375px;
}

.caption {
    -fx-text-fill: #888;
    -fx-font-weight: bold;
    -fx-background-color: #eee;
}

.cooin-content {
    -fx-background-color: #fff;
}

.cooin-tag {
    -fx-padding: 0 0 3 0;
    -fx-text-fill: #388746;
    -fx-font-size: 1.4em;
}

.cooin-error {
    -fx-background-color: rgba(186,0,17, 0.45) ;
}

.statusLbl {
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.cooinHash {
    -fx-text-fill:#888;
}

.dateInfoLbl {
    -fx-text-fill:#6c0404;
}