.root {
    -fx-glass-color: #6c0404;
}

.modal-dialog {
    -fx-max-width: 600px;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-color: #6c0404;
    -fx-border-width: 3;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-color: #f9f9f9;
}

.undecorated-dialog {
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-color: #f9f9f9;
}

.message-row {
    -fx-font-size: 13;
    -fx-font-weight: normal;
}

.separator {
    visibility: hidden;
}


