.root {
    -fx-glass-color: #6c0404;
}

.modal-dialog {
    -fx-max-width: 600px;
    -fx-padding: 0 20 20 20;
    -fx-spacing: 40;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-color: #f9f9f9;
}

.settings-vbox {
    -fx-border-width: 1px;
    -fx-border-color: #6c0404;
    -fx-padding: 10px;
    -fx-border-radius: 2;
}


