.vicket {
    -fx-max-width: 600px;
    -fx-padding: 3 10 3 10;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-color: #388746;
    -fx-border-width: 3;
    -fx-border-insets: 0;
    -fx-border-radius: 4;
    -fx-color: #388746;
    -fx-background-color: #fff;
}

.vicket-error {
    -fx-background-color: rgba(186,0,17, 0.45) ;
}

.statusLbl {
    -fx-font: bold 20pt "LucidaBrightDemiBold";
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.infoLabel {
    -fx-text-fill: #138085;
}

.menu-item .label {
    -fx-text-fill: #6c0404;
}

.menu-item:focused {
    -fx-background-color: #6c0404;
}

.menu-item:focused .label {
    -fx-text-fill: fff;
}

.context-menu {
    -fx-background-color: #f9f9f9;
    -fx-text-fill: #6c0404;
    -fx-color: #6c0404;
}

.operations {
    -fx-text-fill: #6c0404;
    -fx-cursor: hand;
}
