.main-pane {
    -fx-pref-width: 600px;
    -fx-background-color: #fff;
    -fx-padding: 10;
}

.currency {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}

.currency-pane {
    -fx-border-color: #888;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-padding: 10;
}

.tag {
    -fx-font-size: 1.1em;
    -fx-text-fill: #151;
    -fx-font-weight: bold;
}

.amount {
    -fx-text-fill: #151;
    -fx-font-size: 1.1em;
}

.currencyPane {
    -fx-pref-width: 100px;

    -fx-padding: 4;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-color: #61a753;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-color: #f9f9f9;
}

.currencyPane:hover {
    -fx-cursor: hand;
    -fx-background-color: #ccc;
    -fx-background-radius: 4;
    -fx-text-fill: #f9f9f9;
}

.currencyValue {
    -fx-text-fill: #61a753;
    -fx-font-size: 1em;
}