<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sistemavotacion.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Si no se pone un target SDK post 3.0 sale el 'menu botón' -->
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>

   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	
    <application android:icon="@drawable/password_32" android:label="@string/app_name">

     	<!-- <activity android:label="@string/app_name" android:noHistory="true"
            android:name=".MainActivity" android:screenOrientation="portrait">-->
 
 
     	<activity android:label="@string/app_name" android:noHistory="true" android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

           	<intent-filter>    
		       	<data android:scheme="http" android:host="192.168.1.20"/>
	       	    <data android:path="/SistemaVotacionCentroControl/app/clienteAndroid"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
		    <intent-filter>    
		       	<data android:scheme="http" android:host="192.168.1.20"/>
	       	    <data android:path="/SistemaVotacionControlAcceso/app/clienteAndroid"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
       		<intent-filter>    
		       	<data android:scheme="http" android:host="sistemavotacion.org"/>
	       	    <data android:path="/app/clienteAndroid"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
		    <intent-filter>    
		       	<data android:scheme="http" android:host="sistemavotacion.org"/>
	       	    <data android:path="/app/clienteAndroid"/>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT"/>  
     		    <category android:name="android.intent.category.BROWSABLE" />
	        </intent-filter>
     	</activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".app.Search" />

        <activity
            android:name="org.sistemavotacion.android.NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>


        <activity android:name="org.sistemavotacion.android.UserCertRequestForm" android:noHistory="true" 
            android:configChanges="orientation|keyboard" android:theme="@style/Theme.AppCompat.Light"/>
        
        <activity android:name="org.sistemavotacion.android.UserCertResponseForm" android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light"/>
        
        <activity android:name="org.sistemavotacion.android.WebActivity" android:label="@string/app_name"
            android:screenOrientation="landscape" android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name="org.sistemavotacion.android.EventStatisticsActivity"
            android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light"/>


        <activity android:name="org.sistemavotacion.android.ui.VoteReceiptListScreen"
            android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light"/>
           
        <!-- <activity android:label="@string/app_name"  android:screenOrientation="portrait"
            android:name="org.sistemavotacion.android.EventScreen" />-->

        <activity android:label="@string/app_name"
            android:name="org.sistemavotacion.android.EventScreen"
            android:theme="@style/Theme.AppCompat.Light"/>
        
        <activity android:label="@string/app_name"
            android:name="org.sistemavotacion.android.VotingEventScreen"
            android:theme="@style/Theme.AppCompat.Light"/>
        
                <!-- This provider declaration informs the Search Manager that you have a provider of -->
        <!-- Search suggestions, and provides information about how to access it. -->
        
        <provider android:name="org.sistemavotacion.util.SearchSuggestionProvider"
                  android:authorities="org.sistemavotacion.util.SuggestionProvider" />
        <service android:name="org.sistemavotacion.android.service.PublishService"/>
        
    </application>
</manifest>