html,body {
    height: 100%;
    margin: 0;
    font-family: 'RobotoDraft', sans-serif;
}

/* Button */
.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

.button > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}

.card > paper-ripple {
    border-radius: 2px;
    overflow: hidden;
}

.button.narrow {
    width: 60px;
}

.button.grey {
    background-color: #eee;
}

.button.blue {
    background-color: #4285f4;
    color: #fff;
}

.button.green {
    background-color: #0f9d58;
    color: #fff;
}

.button.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
/* Icon Button */
.icon-button {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
}

.icon-button > core-icon {
    margin: 16px;
    transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-button:hover > core-icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.icon-button > paper-ripple {
    overflow: hidden;
    color: #646464;
}

.icon-button.red > core-icon::shadow path {
    fill: #db4437;
}

.icon-button.red > paper-ripple {
    color: #db4437;
}

.icon-button.blue > core-icon::shadow path {
    fill: #4285f4;
}

.icon-button.blue > paper-ripple {
    color: #4285f4;
}

/* FAB */
.fab {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab.red {
    background-color: #d23f31;
}

.fab.blue {
    background-color: #4285f4;
}

.fab.green {
    background-color: #0f9d58;
}

.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.fab > core-icon {
    margin: 16px;
}

.fab > core-icon::shadow path {
    fill: #fff;
}

/* Menu */
.menu {
    display: inline-block;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.item {
    position: relative;
    height: 48px;
    line-height: 48px;
    color: #646464;
    font-size: 0.9em;
}

.menu.blue > .item {
    color: #4285f4;
}

/* Card, Dialog */
.card, .dialog {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #f9f9f9;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.dialog {
    box-sizing: border-box;
    padding: 16px;
}

.dialog > .content {
    height: 170px;
    font-size: 0.9em;
}

.dialog > .content > .title {
    font-size: 1.3em;
}

.dialog > .button {
    width: 90px;
    float: right;
}



