html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height:100%;
    margin: 0px auto 0px 0px;
}

body {
    font-family: 'RobotoDraft', sans-serif;
    color:#434343;
    margin: 0 auto 0 auto;
    padding: 0 0px 0 0px;
    height: 600px;
}

.linkvs{}

.navbar-vickets {
    background-color: #ba0011;
    border-bottom: 1px solid #f9f9f9;
    color:#f9f9f9;
    height: 50px;
    z-index: 20;
}

.navBar-vicket-icon {
    color: #f9f9f9;
    cursor: pointer;
    font-size: 2.5em;
}

.navBar-vicket-icon:hover {
    color: #ba0011;
    cursor: pointer;
}

.navBar-vicket-button {
    color: #f9f9f9;
    background-color: #ba0011;
}

.navbar-vickets .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ba0011;
}

#navBarMainMenu {
    position: fixed;
    top: 0px;
    z-index:10000;
}

.pageContenDiv {
    margin:0px auto 0px auto;
    padding:0px 30px 0px 30px;
    max-width: 1400px;
}

.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
    border-color: #ba0011;
}

.userAdvert {
    margin: 20px auto 20px auto;
    background-color: #f2f2f2;
    font-size:0.9em;
    padding: 5px 10px 5px 0px;
    -moz-border-radius: 5px; border-radius: 5px;
    width:90%;
}

.btn-cancel-vs {
    color: #ba0011;
}

.btn-cancel-vs:after {
    font-family: FontAwesome;
    padding: 0 0 0 5px;
    content: "\f00d";
}

.btn-accept-vs {
    background-color: #ba0011;
    color: #f9f9f9;
    border-color: #ba0011;
}

.btn-accept-vs:after {
    font-family: FontAwesome;
    padding: 0 0 0 5px;
    content: "\f00c";
}

.btn-accept-vs:hover,
.btn-accept-vs:focus,
.btn-accept-vs:active,
.btn-accept-vs.active,
.open .dropdown-toggle.btn-accept-vs {
    background-color: #f2dede;
    border-color: #ba0011;
    color: #f9f9f9;
}
.btn-accept-vs:active,
.btn-accept-vs.active,
.open .dropdown-toggle.btn-accept-vs {
    background-image: none;
}
.btn-accept-vs.disabled,
.btn-accept-vs[disabled],
fieldset[disabled] .btn-accept-vs,
.btn-accept-vs.disabled:hover,
.btn-accept-vs[disabled]:hover,
fieldset[disabled] .btn-accept-vs:hover,
.btn-accept-vs.disabled:focus,
.btn-accept-vs[disabled]:focus,
fieldset[disabled] .btn-accept-vs:focus,
.btn-accept-vs.disabled:active,
.btn-accept-vs[disabled]:active,
fieldset[disabled] .btn-accept-vs:active,
.btn-accept-vs.disabled.active,
.btn-accept-vs[disabled].active,
fieldset[disabled] .btn-accept-vs.active {
    background-color: #ba0011;
    border-color: #ba0011;
}
.btn-accept-vs .badge {
    color: #ba0011;
    background-color: #f9f9f9;
}

input:required {
    border: 1px solid rgba(253, 8, 8, 0.29);
}

input:focus:invalid {
    /*background: url('../images/icon_16/cancel.png') no-repeat right;*/
}

input:focus:valid {
    /*background: url('../images/icon_16/ok.png') no-repeat right;*/
}

.pageHeader {
    color: #6c0404;
    font-weight: bold;
    text-overflow: ellipsis;
}

.breadcrumbVS {
    padding: 4px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.breadcrumbVS > ol {
    margin-bottom: 0px;
}

.breadcrumbVS > li {
    display: inline-block;
}
.breadcrumbVS > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumbVS > .active {
    color: #999;
}

.messagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #888;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.messagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.dialogAdviceMsg {
    font-size: 1.3em;
    font-weight:bold;
    color: #ba0011;
    margin:10px auto 15px auto;
}
.white_headers_table {}

.white_headers_table th {
    text-align: center;
    padding:5px 0;
    min-width: 120px;
    color:#6c0404;
    background: #fff;
}

.white_headers_table th a {
    color: #6c0404;
}

.white_headers_table th a:hover {
    color: #6c0404;
    text-decoration: underline;
}

.white_headers_table td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fieldsBox {
    margin: 10px auto 30px auto;
    width: 80%;
}

#fieldsBox legend {
    font-size: 1.2em;
    font-weight: bold;
    color:#6c0404;
}

.eventContentDiv {
    border: #f2f2f2 solid 1px;
    margin:0px 0px 0px 0px;
    min-height:300px;
    padding: 10px 10px 10px 10px;
    word-wrap:break-word;
    overflow: hidden;
}
