.groupvsMessagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #888;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.groupvsMessagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.groupvsMessageCancelled {
    position:absolute;
    opacity:1.4;
    left:20%;
    top:-60px;
    font-size: 1.8em;
    font-weight: bold;
    color:#91140a;
    text-transform:uppercase;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
}

.groupvsDiv {
    position: relative;
    background-color: #f2f2f2;
    -moz-border-radius: 3px; border-radius: 4px;
    cursor: pointer;
    padding: 0px 0px 5px 0px;
}

.groupvsInfoDiv {
    position:relative;
    font-size: 0.9em;
    max-height:7.5em; /* exactly four lines */
    padding: 10px;
    vertical-align:middle;
    padding: 0px 5px 20px 5px;
    line-height:1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap:break-word;
    text-align:  justify;

}


.groupvsSubjectDiv {
    font-size: 1.1em;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight:bold;
    color:white;
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 0 auto 0 auto;
}

.groupvsInfoDiv .cancelMessage {
    display:none;
    transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    padding:3px 5px 3px 5px;
    margin: 0 0 0 20px;
    opacity:0.4;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 1.9em;
}

.groupvsActive {
    border: 1px solid #59b;
}

.groupvsActive .groupvsSubjectDiv{
    background-color:#59b;
}


.groupvsDiv:hover .groupvsRepresentativeDiv{
    display: block;
    cursor: pointer;
}

.groupvsDiv .groupvsRepresentativeDiv {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 2px 7px 2px 7px;
    color: #fff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.45);
}

.groupvsPending {
    border: 1px solid #fba131;
}

.groupvsPending .groupvsSubjectDiv{
    background-color:#fba131;
}

.numTotalUsersDiv {
    right: 0px;
    display: block;
    color:#379;
    margin: 0px 20px 0px 0px;
    text-transform:uppercase;
}

.groupvsFinished {
    border: 1px solid #e76;
}

.groupvsFinished .groupvsSubjectDiv{
    background-color:#e76;
}


.groupvsPendingBox {
    border-color: #fba131;
    color:#fba131;
}

.groupvsClosedBox {
    border-color: #cc1606;
    color:#cc1606;
}

.groupvsCancelledBox {
    position: absolute;
    top: 200px;
    margin: 0 0 0 150px;
    width: 600px;
    border-color: #cc1606;
    color:#cc1606;
    opacity:0.4;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
}