.gradle
/local.properties
/.idea/workspace.xml
/build
*.iml

/libraries/build
/libraries/*.iml
/libraries/.settings
/libraries/.classpath
/libraries/.project

/libraries/bc/bin
/libraries/bc/build
/libraries/bc/.settings
/libraries/bc/.classpath
/libraries/bc/.project
/libraries/bc/*.iml

/libraries/itext/bin
/libraries/itext/build
/libraries/itext/.settings
/libraries/itext/.classpath
/libraries/itext/.project
/libraries/itext/*.iml


/libraries/votingsystem/bin
/libraries/votingsystem/build
/libraries/votingsystem/.settings
/libraries/votingsystem/.classpath
/libraries/votingsystem/.project
/libraries/votingsystem/*.iml

/libraries/votingsystem/build
/libraries/votingsystem/*.apk
