html {
    font-family: 'RobotoDraft', sans-serif;
}

body {
    color:#434343;
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    padding: 0 0px 0 0px;
}

button i{color: #888; }
button {font-size: 1em; }

.closeIcon {
    cursor: pointer;fill:#6c0404; color:#6c0404; font-size: 1.9em; margin: 5px 9px 0 0;
}
.closeIcon:hover {
    fill:#ba0011; color:#ba0011;
}

.vs-navbar {
    background-color: #ba0011;
    border-bottom: 1px solid #f9f9f9;
    padding: 5px;
    z-index: 20;
}

.vs-navbar-icon {
    color: #f9f9f9;
    cursor: pointer;
    font-size: 22px;
}

.vs-navbar-icon:hover {
    color: #fba131;
    cursor: pointer;
}

.vs-navbar-button {
    color: #f9f9f9;
    background-color: #ba0011;
}

.vs-navbar .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #ba0011;
}

.pageContentDiv {
    margin:10px auto 200px auto;
    padding:0px 30px 0px 30px;
    max-width: 1400px;
}

.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
    border-color: #ba0011;
}

.userAdvert {
    margin: 20px auto 20px auto;
    background-color: #f2f2f2;
    font-size:0.9em;
    padding: 5px 10px 5px 0px;
    -moz-border-radius: 5px; border-radius: 5px;
    width:90%;
}

.pageHeader {
    color: #6c0404;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 5px 10px 5px 10px;
}

.messagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #555;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.messagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.eventContentDiv {
    border: #f2f2f2 solid 1px;
    background: #f9f9f9;
    margin:0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    word-wrap:break-word;
    overflow: hidden;
    border-radius: 2px;
}

.tableHeadervs {
    margin: 0px 0px 0px 0px;
    color:#6c0404;
    border-bottom: 1px solid #6c0404;
    background: white;
    font-weight: bold;
    padding:5px 0px 5px 0px;
    width: 100%;
}

.tableHeadervs div {
    text-align:center;
}

.rowvs {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
}

.rowvs div {
    text-align:center;
}

.text-center {
    text-align: center;
}

/*This is from bootstrap http://getbootstrap.com/css/*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding:4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-red {
    color: #6c0404;
    background-color: #fff;
    border-color: #6c0404;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    color: #6c0404;
    background-color: #fdf7f9;
    border-color: #6c0404;
}

.btn-green {
    color: #388746;
    background-color: #fff;
    border-color: #388746;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #388746;
    background-color: #eff9ed;
    border-color: #388746;
}


.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}

.linkVS {cursor: pointer; color:#6c0404; margin: 10px;}
.linkVS:hover {text-decoration: underline;}