html {
    font-family: 'RobotoDraft', sans-serif;
}

body {
    color:#434343;
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    padding: 0 0px 0 0px;
}

#voting_system_page {
    padding:0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#drawer {
    border-bottom: 1px solid #f9f9f9;
    z-index: 10;
    position: absolute;
    width: 250px;
    display: block;
    box-shadow: 3px 5px 5px #888888;
}

.menuItem {
    color: #888;
    padding: 10px 0 10px 10px;
    font-size: 1.1em;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #c8c8c8;
}

.menuItemSelected {
    color: #ba0011;
}

.menuItem i {
    width: 23px;
    color: #888;
}

.menuItemSelected i{
    color: #ba0011;
}

button i{color: #888; }
button {font-size: 1em; }

.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
    border-color: #ba0011;
}

.userAdvert {
    margin: 20px auto 20px auto;
    background-color: #f2f2f2;
    font-size:0.9em;
    padding: 5px 10px 5px 0px;
    -moz-border-radius: 5px; border-radius: 5px;
    width:90%;
}

.pageHeader {
    color: #6c0404;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 5px 10px 5px 10px;
}

.messagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #555;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.messagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.contentDiv {
    border: #f2f2f2 solid 1px;
    background: #f9f9f9;
    margin:0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    word-wrap:break-word;
    overflow: hidden;
    border-radius: 2px;
}

.tableHeadervs {
    margin: 0px 0px 0px 0px;
    color:#6c0404;
    border-bottom: 1px solid #6c0404;
    background: white;
    font-weight: bold;
    padding:5px 0px 5px 0px;
    width: 100%;
}

.tableHeadervs div {
    text-align:center;
}

.rowvs {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 100%;
}

.rowvs div {
    text-align:center;
}

.text-center {
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    height: 23px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}

.linkVS {cursor: pointer; color:#6c0404; margin: 10px;}
.linkVS:hover {text-decoration: underline;}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    overflow-y:auto;
}

.modalDialog > div {
    width: 400px;
    max-height: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 4px;
    background: #fefefe;
    overflow-y:auto;
}

.closeIcon {
    cursor: pointer;fill:#6c0404; color:#6c0404; font-size: 1.9em; margin: 0 2px 0 0;
}
.closeIcon:hover {
    fill:#ba0011; color:#ba0011;
}
