.groupvsMessagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #888;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.groupvsMessagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.groupvsMessageCancelled {
    position:absolute;
    opacity:0.4;
    left:20%;
    top:-10px;
    font-size: 1.2em;
    font-weight: bold;
    color:#91140a;
    text-transform:uppercase;
    transform:rotate(17deg);
    -ms-transform:rotate(17deg);
    -webkit-transform:rotate(17deg);
    -moz-transform: rotate(17deg);
}

.groupvsDiv {
    position: relative;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    background-color: #f9f9f9;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -moz-border-radius: 3px; border-radius: 4px;
    margin: 10px;
    color: #667;
}

.groupvsInfoDiv {
    position:relative;
    font-size: 0.9em;
    max-height:7.5em; /* exactly four lines */
    vertical-align:middle;
    padding: 0px 10px 20px 10px;
    line-height:1.5;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap:break-word;
    text-align:  justify;
}


.groupvsSubjectDiv {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight:bold;
    color: #f2f2f2;
    text-align: center;
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 0 auto 0 auto;
    text-decoration: underline;
}

.groupvsInfoDiv .cancelMessage {
    display:none;
    transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    padding:3px 5px 3px 5px;
    margin: 0 0 0 20px;
    opacity:0.4;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 1.9em;
}

.groupvsActive {
    border: 1px solid #388746;
}

.groupvsActive .groupvsSubjectDiv { color:#388746; }

.groupvsActive .numTotalUsersDiv { color:#388746; }

.numTotalUsersDiv {
    position:absolute;
    bottom: 0px;
    padding: 3px 0 0 10px;
    margin: 0px 20px 0px 0px;
    text-transform:uppercase;
    font-size: 0.8em;
}

.groupvsDiv:hover .groupvsRepresentativeDiv{
    display: block;
    cursor: pointer;
}

.groupvsDiv .groupvsRepresentativeDiv {
    position:absolute;
    display: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 3px 7px 3px 7px;
    color: #f2f2f2;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.45);
}

.groupvsPending {  border: 1px solid #fba131; }

.groupvsPending .groupvsSubjectDiv{
    color:#fba131;
}

.groupvsPending .numTotalUsersDiv { color:#fba131; }

.groupvsFinished {
    border: 1px solid #cc1606;
}

.groupvsFinished .groupvsSubjectDiv{
    color:#cc1606;
}

.groupvsFinished .numTotalUsersDiv { color:#cc1606; }

.groupvsPendingBox {
    border-color: #fba131;
    color:#fba131;
}

.groupvsClosedBox {
    border-color: #cc1606;
    color:#cc1606;
}

.groupvsCancelledBox {
    position: absolute;
    top: 200px;
    margin: 0 0 0 150px;
    width: 600px;
    border-color: #cc1606;
    color:#cc1606;
    opacity:0.4;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
}