html {
    font-family: 'RobotoDraft', sans-serif;
}

body {
    color:#434343;
    background-color: #fefefe;
    margin: 0 auto 0 auto;
    padding: 0 0px 0 0px;
}


.linkvs{}

.pageContentDiv {
    margin:10px auto 200px auto;
    padding:0px 30px 0px 30px;
    max-width: 1200px;
}


.vs-navbar {
    background-color: #ba0011;
    border-bottom: 1px solid #f9f9f9;
    color:#f9f9f9;
    height: 40px;
    z-index: 20;
}

.vs-navbar-icon {
    color: #f9f9f9;
    cursor: pointer;
    font-size: 3em;
}

.vs-navbar-icon:hover {
    color: #6c0404;
    cursor: pointer;
}

.vs-navbar-button {
    color: #f9f9f9;
    background-color: #ba0011;
}

.vs-navbar .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #6c0404;
}

#navBarMainMenu {
    position: fixed;
    top: 0px;
    z-index:10;
}

input:required {
    border: 1px solid rgba(253, 8, 8, 0.29);
}

input:focus:invalid {
    /*background: url('../images/icon_16/cancel.png') no-repeat right;*/
}

input:focus:valid {
    /*background: url('../images/icon_16/ok.png') no-repeat right;*/
}

.errorMsgWrapper {
    width: 90%;
    margin: 10px auto 0px auto;
    padding: 10px 10px 10px 10px;
    color:#cc1606;
    border: 1pt solid #cc1606;
}

.errorMsgWrapper p {
    text-align: center;
}

select, textarea, text, input {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 1px 2px 1px 2px;
}

.clearing{clear:both;}

.controller {
    font-size: 0.8em;
    line-height: 1.5em;
}

hr {
    border: 1px solid #cccccc;
}


.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
}

.errorMsgWrapper {
    width: 90%;
    margin: 10px 20px 0px 20px;
    color:#cc1606;
    border: 1pt solid #cc1606;
    vertical-align: middle;
}

.errorMsgWrapper p {
    text-align: center;
}


.header {
    margin: 0 0 10px 0;
    width:100%;
    border-bottom: 1pt solid #3E125F;
    padding: 0.1em 0 5px 0;
    overflow: hidden;
    display:table;
}

.pageHeader {
    color: #6c0404;
    font-weight: bold;
    text-overflow: ellipsis;
    font-size: 1.3em;
    text-align: center;
}

.headerTitle {
    font-size: 26px;
    font-weight:bold;
    line-height: 1;
    display:block;
    margin: 10px auto 5px 100px;
    color:#0066cc;
    text-decoration: none;
}

.mainLinkContainer {
    display:table;
}

.linkVS {
    cursor: pointer;
    color: #0066cc;
    text-decoration: underline;
}

.content .mainLink {
    font-size: 20px;
    color:#0066cc;
    line-height: 1;
    display:table-cell;
}

[class*='col-'] {
    padding:0px 0px 0px 0px;
}

.col-advancedSearch {
    width: 360px;
    display:table-cell;
    vertical-align:middle;
}

.appLink {
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    color: #09287e;
    display:inline;
}

.appLink:hover {
    text-decoration: underline;
}

.userAdvert {
    margin: 20px auto 20px auto;
    background-color: #f2f2f2;
    font-size:0.9em;
    padding: 5px 10px 5px 0px;
    -moz-border-radius: 5px; border-radius: 5px;
    width:90%;
}

.userAdvert ul li {
    margin:5px 0px 0px 0px;
}

.publishPageTitle {
    font-size:1.5em;
    font-weight: bold;
    display: table;
    color:#6c0404;
    margin: 5px auto 20px auto;
}

.datetime {
    color: #52515e;
    font-style: italic;
}

#eventAuthorDiv {
    color: #52515e;
    font-style: italic;
}

.publishPageTitle p {
    width:600px;
    margin: 0px 0px 0px 0px;
    text-align:center;
    overflow:hidden;
    text-overflow: ellipsis;
}

.eventContentDiv {
    border: #f2f2f2 solid 1px;
    margin:0px 0px 0px 0px;
    min-height:100px;
    padding: 10px 10px 10px 10px;
    word-wrap:break-word;
    overflow: hidden;
}

.eventVSActive {
    border: 1px solid #388746;
}

.eventVSActive .eventSubjectDiv{
    background-color:#388746;
}

.eventVSActive .eventStateDiv{
    color:#388746;
}

.eventVSPending {
    border: 1px solid #fba131;
}

.eventVSPending .eventSubjectDiv{
    background-color:#fba131;
}

.eventVSPending .eventStateDiv{
    color:#fba131;
}

.eventVSFinished {
    border: 1px solid #cc1606;
}

.eventVSFinished .eventSubjectDiv{
    background-color:#cc1606;
}

.eventVSFinished .eventStateDiv{
    color:#cc1606;
}

.eventVSFinished .eventRemainingDiv{
    display: none;
}

.fieldsBox {
    margin: 10px auto 30px auto;
    width: 80%;
}

.fieldsBox fieldset{
    border: 1px solid #ccc;
}

.fieldsBox legend {
    font-size: 1.2em;
    font-weight: bold;
    color:#6c0404;
}

.eventMessagePanel {
    padding: 7px 12px 7px 12px;
    margin: 20px auto 20px auto;
    border: 2px solid #cc1606;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 8px 6px -6px #888;
    -webkit-box-shadow: 0 8px 6px -6px #888;
    box-shadow: 0 8px 6px -6px #888;
    width: 70%;
}

.eventMessagePanel .messageContent {
    text-align: center;
    font-size: 1.3em;
    font-weight:bold;
    margin:7px 0px 7px 0px;
}

.eventMessageCancelled {
    position:absolute;
    opacity:0.4;
    left:0px;
    top:50%;
    text-transform:uppercase;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
}

.eventPendingBox {
    border-color: #fba131;
    color:#fba131;
}

.eventFinishedBox {
    border-color: #cc1606;
    color:#cc1606;
}

.eventCancelledBox {
    position: absolute;
    top: 200px;
    margin: 0 0 0 150px;
    width: 600px;
    border-color: #cc1606;
    color:#cc1606;
    opacity:0.4;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform: rotate(20deg);
}

.eventDiv {
    display:inline;
    width:280px;
    background-color: #f2f2f2;
    margin: 10px 5px 5px 10px;
    -moz-border-radius: 5px; border-radius: 5px;
    cursor: pointer; cursor: hand;
    overflow:hidden;
    float:left;
}

.eventBodyDiv {
    position:relative;
    font-size: 0.8em;
    display:table-cell;
    vertical-align:middle;
    padding: 0px 5px 0px 5px;
}

.eventSubjectDiv {
    font-size: 1.1em;
    height:38px;
    font-weight:bold;
    color:white;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.eventAuthorDiv {
    position: relative;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.eventBodyDiv .cancelMessage {
    transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    padding:3px 5px 3px 5px;
    margin: 0 0 0 20px;
    opacity:0.4;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 1.9em;
}

.eventAuthorLblDiv {
    display:inline;
    font-weight:bold;
    position: relative;
}

.eventAuthorValueDiv {
    width:150px;
    overflow:hidden;
    display:inline;
    position: relative;
}

.eventDateBeginDiv {
    position: relative;
    margin: 10px 0 10px 0;
    font-size: 1.1em;
    color: #888;
}

.eventDateBeginLblDiv {
    display:inline;
    font-weight:bold;
    position: relative;
}

.eventDateBeginValueDiv {
    display:inline;
}

.eventDivFooter{
    position: relative;
    padding: 5px 5px 0px 5px;
}

.eventRemainingDiv {
    display:inline;
    font-weight:bold;
    font-size:0.7em;
    position: relative;
}

.eventStateDiv {
    font-size: 0.9em;
    display:inline;
    font-weight:bold;
    float:right;
    position: relative;
}

.text-center {
    text-align: center;
}

/*This is from bootstrap http://getbootstrap.com/css/*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
textarea.form-control {
    height: auto;
}
