<!DOCTYPE hibernate-configuration SYSTEM
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.votingsystem.model.AccessControlVS" />
        <mapping class="org.votingsystem.model.AccessRequestVS"/>
        <mapping class="org.votingsystem.model.ActorVS" />
        <mapping class="org.votingsystem.model.AddressVS" />
        <mapping class="org.votingsystem.model.AnonymousDelegation"/>
        <mapping class="org.votingsystem.model.BackupRequestVS" />
        <mapping class="org.votingsystem.model.BatchRequest" />
        <mapping class="org.votingsystem.model.CertificateVS" />
        <mapping class="org.votingsystem.model.ControlCenterVS" />
        <mapping class="org.votingsystem.model.DeviceVS" />
        <mapping class="org.votingsystem.model.EventVS" />
        <mapping class="org.votingsystem.model.EventVSClaim" />
        <mapping class="org.votingsystem.model.EventVSElection" />
        <mapping class="org.votingsystem.model.EventVSManifest" />
        <mapping class="org.votingsystem.model.FieldEventVS" />
        <mapping class="org.votingsystem.model.FieldValueEventVS" />
        <mapping class="org.votingsystem.model.GroupVS" />
        <mapping class="org.votingsystem.model.ImageVS" />
        <mapping class="org.votingsystem.model.KeyStoreVS" />
        <mapping class="org.votingsystem.model.MessageSMIME" />
        <mapping class="org.votingsystem.model.PDFDocumentVS" />
        <mapping class="org.votingsystem.model.RepresentationDocumentVS" />
        <mapping class="org.votingsystem.model.ResponseVS" />
        <mapping class="org.votingsystem.model.SignatureVS" />
        <mapping class="org.votingsystem.model.SubscriptionVS" />
        <mapping class="org.votingsystem.model.TagVS" />
        <mapping class="org.votingsystem.model.UserRequestCsrVS" />
        <mapping class="org.votingsystem.model.UserVS" />
        <mapping class="org.votingsystem.model.GroupVS" />
        <mapping class="org.votingsystem.model.BankVS" />
        <mapping class="org.votingsystem.model.VoteVSCanceller"/>
        <mapping class="org.votingsystem.model.VoteVS" />

        <mapping class="org.votingsystem.vicket.model.MessageVS" />
        <mapping class="org.votingsystem.vicket.model.TransactionVS" />
        <mapping class="org.votingsystem.vicket.model.UserVSAccount" />
        <mapping class="org.votingsystem.vicket.model.Vicket" />
        <mapping class="org.votingsystem.vicket.model.VicketRequestBatch" />

    </session-factory>
</hibernate-configuration>