<!DOCTYPE hibernate-configuration SYSTEM
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<!--<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.RAMDirectoryProvider</property>-->
        <property name="hibernate.search.analyzer">org.apache.lucene.analysis.standard.StandardAnalyzer</property>
        <mapping package="org.sistemavotacion.controlacceso.modelo" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.CentroControl" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.ControlAcceso" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Certificado" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Documento" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.ActorConIP" />    
        <mapping class="org.sistemavotacion.controlacceso.modelo.Direccion" />  
        <mapping class="org.sistemavotacion.controlacceso.modelo.EtiquetaEvento" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.EventoReclamacion" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.EventoVotacion" /> 
        <mapping class="org.sistemavotacion.controlacceso.modelo.EventoFirma" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Evento" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Etiqueta" />   
        <mapping class="org.sistemavotacion.controlacceso.modelo.MensajeSMIME" />             
        <mapping class="org.sistemavotacion.controlacceso.modelo.OpcionDeEvento" /> 
        <mapping class="org.sistemavotacion.controlacceso.modelo.SolicitudAcceso"/>
        <mapping class="org.sistemavotacion.controlacceso.modelo.AnuladorVoto"/>
        <mapping class="org.sistemavotacion.controlacceso.modelo.SolicitudAcceso" /> 
        <mapping class="org.sistemavotacion.controlacceso.modelo.SolicitudCSRVoto" /> 
        <mapping class="org.sistemavotacion.controlacceso.modelo.SolicitudCSRUsuario" /> 
        <mapping class="org.sistemavotacion.controlacceso.modelo.Usuario" />      
        <mapping class="org.sistemavotacion.controlacceso.modelo.Firma" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.CampoDeEvento" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.ValorCampoDeEvento" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Voto" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.AlmacenClaves" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.Dispositivo" />  
        <mapping class="org.sistemavotacion.controlacceso.modelo.SolicitudCopia" />
        <mapping class="org.sistemavotacion.controlacceso.modelo.SelloTiempo" />
    </session-factory>
</hibernate-configuration>