<%
def serverURL = controllerDoc?.serverURL
def header = controllerDoc?.getInfoController()
def controllerDescription = controllerDoc?.descController
def controllerActions = controllerDoc?.methodControllerActionDocMap?.values()
%>
<u><h3>${header}</h3></u>

<% if (controllerDescription) {%><p>${controllerDescription}</p><% } %>


<h4>URLs de servicio</h4>
<div>
<% for (controllerAction in controllerActions) { 
def paramsMap = controllerAction?.commentDoc?.paramsMap
def commentDoc = controllerAction?.commentDoc
def httpMethod = commentDoc?.httpMethod?.toUpperCase()
def description = commentDoc?.description
def result = commentDoc?.result
%>
<p>
<% if (httpMethod) {%>- <u>${httpMethod}</u> - <% } %>
<a href="${serverURL}${controllerAction?.uri}">${controllerAction?.uri}</a><br/>  	
<% if (description) {%>${description}<br/><% } %>
</p>
	<% if (paramsMap) {%>
	<p><b>Parámetros:</b><br/>

		<% for (key in paramsMap?.keySet()) { %>
		- <u>${key}</u>: ${paramsMap.get(key)}<br/>
		<% } %>
</p>
	<% } %>
</p>



<% if (result) { %><p><b>Respuesta:</b><br/>${result}</p><% } %>

<HR>
<% } %>

</div>


