/web-app/WEB-INF/cms/*.jks
/web-app/WEB-INF/cms/*.pem

/grails-app/views/restDoc
/grails-app/views/restDocTemplates

/web-app/tools
/web-app/android
/web-app/ckeditor

/build
/logs
/target
/target-eclipse
/VotingSystem
wrapper
.VotingSystem
.idea
*.iml
