/web-app/WEB-INF/cms/*.jks
/web-app/WEB-INF/cms/*.pem

/grails-app/views/restDoc
/grails-app/views/restDocTemplates

/build
/logs
/target
/target-eclipse
/VotingSystem
wrapper
.VotingSystem
.idea
*.iml
