/web-app/WEB-INF/cms/*.jks
/web-app/WEB-INF/cms/*.pem

/grails-app/views/restDoc
/grails-app/views/restDocTemplates


/web-app/android
/web-app/ckeditor
/web-app/tools
/web-app/polymer

/web-app/designer
/web-app/topeka
/web-app/polymer-tutorial


/build
/logs
/target
/target-eclipse
/VotingSystem
.VicketReports
wrapper
.VotingSystem
.idea
*.iml
