html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height:100%;
    margin: 0px auto 0px 0px;
}

body {
    font-family: Arial, sans-serif;
    color:#434343;
    margin: 0 auto 0 auto;
    padding: 0 10px 0 0px;
    height: 600px;
}


.navbar-vickets {
    background-color: #ba0011;
    border-color: #f9f9f9;
    color:#f9f9f9;
    height: 50px;
}

.navBar-vicket-icon {
    color: #f9f9f9;
    cursor: pointer;
    font-size: 3em;
}

.navBar-vicket-icon:hover {
    color: #870000;
    cursor: pointer;
}

.navBar-vicket-button {
    color: #f9f9f9;
    background-color: #ba0011;
}

.navbar-vickets .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #870000;
}

#menu {
    position: fixed;
    top: 50px;
    font-weight: bold;
    z-index:10;
}

#pushobj {
    padding: 50px;
    top: 60px;
    left: 300px;
    text-align: center;
}

.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
    border-color: #870000;
}

.btn-cancel-vs {
    color: #870000;
}

.btn-cancel-vs:after {
    font-family: FontAwesome;
    padding: 0 0 0 5px;
    content: "\f00d";
}

.btn-accept-vs {
    background-color: #ba0011;
    color: #f9f9f9;
    border-color: #870000;
}

.btn-accept-vs:after {
    font-family: FontAwesome;
    padding: 0 0 0 5px;
    content: "\f00c";
}

.btn-accept-vs:hover,
.btn-accept-vs:focus,
.btn-accept-vs:active,
.btn-accept-vs.active,
.open .dropdown-toggle.btn-accept-vs {
    background-color: #f2dede;
    border-color: #870000;
    color: #f9f9f9;
}
.btn-accept-vs:active,
.btn-accept-vs.active,
.open .dropdown-toggle.btn-accept-vs {
    background-image: none;
}
.btn-accept-vs.disabled,
.btn-accept-vs[disabled],
fieldset[disabled] .btn-accept-vs,
.btn-accept-vs.disabled:hover,
.btn-accept-vs[disabled]:hover,
fieldset[disabled] .btn-accept-vs:hover,
.btn-accept-vs.disabled:focus,
.btn-accept-vs[disabled]:focus,
fieldset[disabled] .btn-accept-vs:focus,
.btn-accept-vs.disabled:active,
.btn-accept-vs[disabled]:active,
fieldset[disabled] .btn-accept-vs:active,
.btn-accept-vs.disabled.active,
.btn-accept-vs[disabled].active,
fieldset[disabled] .btn-accept-vs.active {
    background-color: #ba0011;
    border-color: #870000;
}
.btn-accept-vs .badge {
    color: #ba0011;
    background-color: #f9f9f9;
}

input:required {
    border: 1px solid rgba(253, 8, 8, 0.29);
}

input:focus:invalid {
    /*background: url('../images/cancel_16.png') no-repeat right;*/
}

input:focus:valid {
    /*background: url('../images/ok_16.png') no-repeat right;*/
}
