select, textarea, text, input {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 1px 2px 1px 2px;
}

.button_base {
    display:table;
    position:relative;
    font-size: 1.2em;
    padding: 4px 5px 4px 5px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: pointer;
    cursor: hand;
    vertical-align: middle;
    text-decoration: none;
    background-color: #f1f5f8;
    color: #769ab5;
    border: #769ab5 solid 1px;
    border-radius: 4px;
}

.button_base .buttonImage {
    display:table-cell;
    vertical-align:middle;
    margin:5px 0px 5px 5px;
}

.button_base .buttonText {
    display:table-cell;
    vertical-align:middle;
    padding:0px 10px 0px 5px;
}

.button_base:hover {
    color: #0066cc;
    background-color: #dae7f1;
    border-radius: 5px;
}

.button_base:active {
    border-top-color: #1b435e;
    background: #1b435e;
    color:white;
    border-radius: 5px;
}

.clearing{clear:both;}

.controller {
	font-size: 0.8em;
	line-height: 1.5em;
}

hr {
	border: 1px solid #cccccc;
}


.formFieldError{
    font-weight: bold;
    background: #f6ccd0;
}

.mainPage {
    position: relative;
    min-height: 600px;
    overflow: hidden;
    margin: 10px 0 0 0;
}