.root {
    -fx-glass-color: #870000;
}

.modal-dialog {
    -fx-max-width: 500px;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-color: #870000;
    -fx-border-width: 3;
    -fx-background-insets: 12;
    -fx-border-insets: 10;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-color: #f9f9f9;
}

.settings-vbox {
    -fx-border-width: 1px;
    -fx-border-color: #870000;
    -fx-padding: 10px;
    -fx-border-radius: 2;
}


