.vicketValue {
    -fx-text-fill: #61a753;
    -fx-font: bold italic 25pt "LucidaBrightDemiBold";
}

.tag {
    -fx-text-fill: #61a753;
    -fx-font: bold italic 15pt "LucidaBrightDemiBold";
}

.server {
    -fx-text-fill: #61a753;
    -fx-font-size: 8pt;
}